<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The Serials SystemDbus Server Authentication</vendor>
  <vendor_url>http://blog.csdn.net/he_ning</vendor_url>

  <action id="org.freedesktop.serials.authentication">
    <description>Authentication for Administrator</description>
    <message>Authentication is required for serials</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>

