[Desktop Entry]
Version=1.0
Name=serialport-assistant

Name[zh_CN]=串口助手

Comment=serialport-assistant

Comment[zh_CN]=串口助手

GenericName=serialport-assistant

GenericName[zh_CN]=串口助手

Exec=/usr/bin/serials
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/pixmaps/wICO.png
Categories=GNOME;GTK;Graphics;RasterGraphics;Viewer;

StartupNotify=true
