Source: serials
Section: utils
Priority: optional
Maintainer: hening <h167297@qq.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://blog.csdn.net/he_ning
#Vcs-Git: git://git.debian.org/collab-maint/serials.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/serials.git;a=summary

Package: serials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:The serials is a very useful serial port debug tool
	提供如下功能:
	①ASCII码、十六进制和中文收发
	②自动扫描可用串口
	③文件发送和接收
	④缓冲区自动清空
	⑤在线参数更改
	⑥内容存储
	⑦定时发送
	⑧互动显示
	注意：中文发送过程中更改串口参数可能导致乱码！
	如果出现了乱码请关闭串口后再打开，如仍然有乱码，则重启本软件。
